@page "/"
@using Radzen.Blazor
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world</h1>

Welcome to your new app.
<RadzenButton Click=@(args => ButtonClicked()) Text=@buttonText></RadzenButton>
@code {
    int nClicks = 0;
    string? buttonText;

    protected override void OnInitialized()
    {
        buttonText = $"Click me!";
    }

    void ButtonClicked()
    {
        nClicks++;
        buttonText = $"{nClicks} clicks";
    }
}